{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Bienvenue dans votre compte</h1>
<a href="{{  path('app_account_password') }}">Modifier le mot de passe </a> <br>
<a href="{{  path('app_account_profil') }}">Modifier mon profil </a> <br>
</div>

{% endblock %}

